.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: var(--max-width);
  padding: 0 0 50px;
}

.content p {
  line-height: 1.5;
}

.content h3 {
  font-size: 24px;
  line-height: 2;
}

.content ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 25px;
}

.content__title {
  margin-bottom: 20px;
  text-align: center;
}

.content__project {
  padding-left: 30px;
}

.content__projectTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 2;
}

@media screen and (width < 1280px) {
  .content {
    gap: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .content__title {
    margin-bottom: 0;
  }
}

@media screen and (width < 768px) {
  .content {
    height: calc(100vh - 83px);
    overflow-y: auto;
  }

  .content::-webkit-scrollbar {
    width: 8px;
  }

  .content::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
  }

  .content::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 5px white;
  }
}
