.content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 24px;
  width: 100%;
  max-width: var(--max-width);
  height: calc(100vh - 85px);
  padding: 50px 0 100px;
}

.content__title {
  font-size: 65px;
}

.info {
  display: grid;
  grid-template-columns: 1fr 40%;
  gap: 120px;
  align-items: center;
}

.info__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  max-width: 900px;
}

.info__text {
  font-size: 24px;
  line-height: 2;
}

.info__avatar {
  justify-self: end;
  border: 3px solid rgb(var(--foreground-rgb));
  border-radius: 50%;
}

@media screen and (width < 1280px) {
  .content {
    grid-template-rows: min-content min-content auto;
    gap: 60px;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .content__title {
    font-size: 40px;
  }

  .info__text {
    font-size: 20px;
  }

  .info__avatar {
    width: 286px;
    height: 302px;
  }
}

@media screen and (width < 768px) {
  .content {
    gap: 40px;
    align-items: flex-start;
  }

  .content__title {
    font-size: 28px;
    text-align: center;
  }

  .info__text {
    font-size: 16px;
  }

  .info__avatar {
    justify-self: center;
    width: 171px;
    height: 181px;
  }
}
