.contactsPage {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  height: 100%;
  padding-top: 150px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
